@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}
body {
    background:whitesmoke;
}

.container {
    width: 300px;
    height: 450px;
    background-color: white;
    margin: 0 auto;
    margin-top: 80px;
    padding: 30px;
    border-radius:5px ;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
h2{
    color: #4CAF50;
    position: relative;
    bottom: 35px;
}

h3 {
    position: relative;
    bottom: 35px;
    line-height: 2px;
}

form {
    margin-top: 10px;
}

.form-control {
    outline: #4CAF50;
    width: 100%;
    padding: 12px;
    border: 1px solid #4CAF50;
    border-radius: 10px;
    position: relative;
    bottom: 10px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    cursor: pointer;
    border: 1px solid #4CAF50;
    position: relative;
    bottom: 50px;
    border-radius: 30px;
    background: white;
    color: #4CAF50;
}
button:hover {
    color: white;
    background: #4CAF50;
}
button:visited {
    background-color: #4CAF50;
}

.login {
    text-align: center;
    position: relative;
    bottom: 35px;

}

.login a {
    text-decoration: none;
    color: #4CAF50;
}
.container h2 {
    font-size: 18px ;
}
.lgo{
    position: relative;
    left: 100px;
    top:10px;
}
